Flask>=2.0
requests
python-dotenv
gemini                # optional (for LLM)
whisper               # openai/whisper or "whisper" package
ftfy
tqdm
sentence-transformers
faiss-cpu
transformers
torch
Pillow
scikit-learn
python-multipart
python-dotenv
streamlit-audiorecorder
audiorecorder
google-generativeai
twilio              # optional; for handling CORS in Flask
